[submodule "win-deps"]
	path = lib/vgmtrans-ext-win
	url = ../vgmtrans-ext-win
[submodule "lib/juicysfplugin"]
	path = lib/juicysfplugin
	url = https://github.com/mikelow/juicysfplugin.git
    branch = cmake
